body {
	margin:0;
	font-family: 'Droid Serif', serif;	
	color:#494848;
	
}
p {
	margin:0;
	margin-top:5px;
	font-family: 'Droid Serif', serif;
	font-size:13px;	
}
p.caption {
font-family: 'Droid Serif', serif;
color: #555555;
text-decoration: none;
font-size:12px;	
	
}
p.footer {
	color:3928d8d;	
	
}
p.photocap {
	margin:0;
	padding-top:150px;
	font-family: 'Droid Serif', serif;
	font-size:26px;	
	color:fff;
	text-shadow: 0.1em 0.1em 0.05em #333;
	z-index:5;
	position:absolute;
}

li.indent {
	margin-left: 10px;

}
a:hover {
	color:#ffffff !important;	
}
a:link {
	font-family: 'Droid Serif', serif;
	color:#555555;
	text-decoration:none;
}	
a:visited {
	color:#6a6a6a;		
}

h1 {
	font-family: 'Didact Gothic', sans-serif;
font-size: 120px;
line-height: .8;
color: #494848;
	
}
h2 {
	font-family: 'Didact Gothic', sans-serif;
font-size: 42px;
text-shadow: 0.1em 0.1em 0.05em #333;
color: #f4f4f4;
}

	
}
