body {
	margin: 150px 0 0 0;
	background-color: #f3f3f3;
}

#container {
	width: 910px;
	margin: 0 auto;
}

#sidebar {
	float: left;
	margin: 0 0 0 10px;
	width: 210px;
}

#footer {
	clear: both;
	height: 120px;
}

.wrap {
	float: left;
	width: 690px;
}
 
.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
.box {
    float: left;
    padding: 0 0 25px 0;
}

.page-wrapper {
	float: left;
	width: 690px;
	margin: 0;
}

img {
	border: 0;
}

#credits {
	margin: 36px 0 0 0;
}



/*
COLUMNS 
*/

.col1, .col2, .col3 {
	float: left;
	margin: 0 20px 0 0;
}

.col1 {
	width: 210px;
}

.col2 {
	width: 440px;
}

.col3 {
	width: 670px;
}